!!! 5
%html
  %head
    %title Curriculum Visualiser
    %script{:type => "text/javascript", src:"/js/jquery-1.10.2.js"}
    %script{:type => "text/javascript", src:"/js/handlebars.js"}
    %script{:type => "text/javascript", src:"/js/app.js"}

    %link{:type => "text/css", :rel => "stylesheet", :href => "/css/visualiser.css"}

  %body
    %div#content
      %h1 Curriculum Visualiser

      %p
        A tool to visualise the 
        %a{ :href => 'http://www.bbc.co.uk/ontologies/curriculum/2013-04-03.shtml', :title => 'Curriculum ontology' } Curriculum ontology.
        used by the
        %a{ :href => 'http://www.bbc.co.uk/education', :title => 'Knowledge and Learning site' } Knowledge and Learning 
        site
      #messages
      #template-div

      %script#phases-template(type="text/x-handlebars-template")
        %h2< 
          %a{ :onClick=> 'javascript:visualGuide.showGuides(this)', :event => { :on => 'click', :action => 'clicked' } 	} phases
        .guides 
		
        = hb 'each phases' do
          %ul.phases
            %li
              Name:
              = hb 'name'
            %li		
              Lower age:
              = hb 'lower_age'
            %li
              Upper age:
              = hb 'upper_age'
            %ul.levels
              %li 
                %h3 levels
              = hb 'each levels' do
                %li<
                  %a{ :onClick=> 'javascript:visualGuide.showLevelData(this)', :event => { :on => 'click', :action => 'clicked' } 	}
                    Name: 
                    = hb 'name'
                .expandableLevelData  
                  %li<
                    %a{ href: '#', :class => 'widget', :onClick=> 'javascript:visualGuide.getLevelsFromUID(this)' }
                      ID: 
                      = hb 'id'
                  %li<
                    Description: 
                    = hb "description"

      %script#levels-template(type="text/x-handlebars-template")
        %h2 levels
        = hb 'each phases' do
          %ul.phases
            %li
              Name:
              = hb 'name'
